<p id="page_title"><%= @conversation.title%></p>

<p>
  <b>User:</b>
  <%= @conversation.user_id %>
</p>

<p>
  <%= @conversation.content %>
</p>


<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>
